.title {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.tags {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 0.75rem;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
}


