.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: clamp(1rem, 5vw, 10rem);
    margin-right: clamp(1rem, 5vw, 10rem);

}

.tags {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 0.75rem;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
}


